
<%= simple_form_for(@log) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.association :user, disabled: true, label_method: :email, include_blank: false, selected: current_user %>
    <%= f.association :project, label: 'Projeto', label_method: :name, include_blank: false %>
    <%= f.association :tag,label: 'Descrição', label_method: :description, include_blank: true %>
  </div>

  <div class="form-actions">
    <div class="text-center">
      <%= f.button :submit, 'Criar Registro',class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
